<style>

  mat-card {
    max-width: 400px;
  }

  mat-card-footer  {
    text-align: center;
    vertical-align: middle;
  }
</style>
<mat-card class="example-card">
    <mat-card-title>Sign In</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="login($event)">
    <mat-card-content>

    <div *ngIf="errormsg">{{errormsg}}</div>
<div class="example-container">
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email" >
    

  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" formControlName="password" placeholder="Password">
  </mat-form-field>
  
</div>

</mat-card-content>
<mat-card-footer>
    <button mat-raised-button (click)="login()">Sign In</button>
</mat-card-footer>
</form>
</mat-card>